---
import { locales } from '@/i18n/conf'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getBricks, reactBricksAstroStore } from 'react-bricks/astro'
import PageViewer from 'react-bricks/astro/PageViewer.astro'
import { cleanPage, fetchPage, fetchPages } from 'react-bricks/astro/server'

const config = reactBricksAstroStore.getConfig()

export async function getStaticPaths() {
  const config = reactBricksAstroStore.getConfig()

  const allPages = await fetchPages(config.apiKey, {
    type: 'page',
  })

  const pages = allPages
    .map((page) => {
      return page.translations.map((translation) => ({
        params: {
          lang: translation.language,
          slug: translation.slug,
        },
      }))
    })
    .flat()
    .filter((path) => locales.includes(path.params.lang))

  return pages
}

const { lang, slug = '/' } = Astro.params

const page = await fetchPage({
  slug: slug,
  language: lang,
  config,
})

// Clean the received content
// Removes unknown or not allowed bricks
const bricks = getBricks()
const pageOk = page ? cleanPage(page, config.pageTypes || [], bricks) : null

if (!pageOk) {
  return new Response('Not Found', { status: 404 })
}
---

<BaseLayout lang={lang}>
  <Fragment slot="head">
    <title>{pageOk?.meta.title || ''}</title>
    <meta
      name="description"
      content={pageOk?.meta.description || pageOk?.meta.title || ''}
    />
  </Fragment>

  <PageViewer page={pageOk} main />
</BaseLayout>
