---
import '@/styles/global.css'

type Props = {
  title: string
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={`bg-slate-50 dark:bg-[#0d1117]`}>
    <main>
      <slot />
    </main>
  </body>
</html>
